
<div class="container">
    <form role="form" style="width: 400px; margin: 0 auto">
        <h1>Job Listings</h1>

        <div class="required-field-block">
            <input type="text" placeholder="Job Name" class="form-control" />
            <div class="required-icon"></div>
        </div>
        <br />
        <!-- Message body -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="message"></label>
            <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Tell us about the job" rows="5"
                    style="width: 770px; height: 94px"></textarea>
            </div>
        </div>
        <br />
        <div class="required-field-block">
            <input type="text" placeholder="Location" class="form-control" />
            <div class="required-icon"></div>
        </div>
        <br />
        <input type="text" placeholder="Pay" class="form-control" />
        <br />
        <div class="required-field-block">
            <br>
            <textarea rows="3" class="form-control" placeholder="Email" style="width: 186px; height: 29px"></textarea>
            <div class="required-icon"></div>
        </div>

        <button class="btn btn-primary">Send</button>
    </form>
</div>
<br />

