<div class="card">
  <div class="card-body">
    <h3 class="card-header">Login</h3>
<form id="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" for="username-login">Username</label>
    <input type="text" class="form-control" id="username-login" autofocus="true" class aria-describedby="username">
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input type="password" class="form-control" autofocus="true" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Login!</button>
  <hr>
  <a class="login-link" href="/signup">Sign up instead</a>
</form>

  </div>
</div>


<script src="/Develop/public/js/login.js"></script>