
<div class="container">
    <form role="form" style="width: 400px; margin: 0 auto">
        <h1>Job Listings</h1>

        <div class="required-field-block">
            <input type="text"name = "name" placeholder="Job Name" class="form-control" />
            
        </div>
        <br />
        <div class="form-group">
            <label class="col-md-3 control-label" for="message"></label>
            <div class="col-md-9">
                <textarea class="form-control"  name="description" placeholder="Tell us about the job" rows="5"
                    style="width: 770px; height: 94px"></textarea>
            </div>
        </div>
        <br />
        <div class="required-field-block">
            <input type="text" name="location" placeholder="Location" class="form-control" />
            
        </div>
        <br />
        <input type="text" name ="pay" placeholder="Pay" class="form-control" />
        <br />
        <input type="text" name ="contact-name" placeholder="contact name" class="form-control" />
        <div class="required-field-block">
            <br>
            <textarea rows="3" name = "contact-email" class="form-control" placeholder="Email" style="width: 186px; height: 29px"></textarea>
           
        </div>

        <button id = "send" class="btn btn-primary">Send</button>
    </form>
</div>
<br />
<script src="/js/create.js"
