<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"> 
  <title>Job-board</title>
</head>

<body style="background:#696F8C">
  <div class="justify-space-around">
    <header class=" primary display-flex justify-space-between align-center p-2 jumbotron" style="background: #F6E7DA">
      
      <h1 class="text-center " >
        Grab-A-Job
      </h1>
       <nav class="navbar  ">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/create">Create-A-Job</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if logged_in}}
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/" id="logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        {{else}}
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
    </header>
    
    <main class="container container-fluid mt-5" >
      <!-- Render -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render when logged in users only -->
  {{#if logged_in}}
  <script src=""></script>
  {{/if}}

  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
{{#if logged_in}} 
  <script src="\js\logout.js"></script>
  {{/if}}
</body>

</html>